BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "CLK_FPGA" SITE "86" ;
LOCATE COMP "GPIO[0]" SITE "67" ;
LOCATE COMP "GPIO[1]" SITE "66" ;
LOCATE COMP "GPIO[2]" SITE "65" ;
LOCATE COMP "GPIO[3]" SITE "64" ;
LOCATE COMP "GPIO[4]" SITE "63" ;
LOCATE COMP "GPIO[5]" SITE "62" ;
LOCATE COMP "GPIO[6]" SITE "60" ;
LOCATE COMP "GPIO[7]" SITE "59" ;
LOCATE COMP "GPIO[8]" SITE "58" ;
LOCATE COMP "GPIO[9]" SITE "57" ;
LOCATE COMP "GPIO[10]" SITE "54" ;
LOCATE COMP "GPIO[11]" SITE "53" ;
LOCATE COMP "GPIO[12]" SITE "52" ;
LOCATE COMP "GPIO[13]" SITE "51" ;
LOCATE COMP "ENAB_DAC_LDO" SITE "71" ;
LOCATE COMP "LED[0]" SITE "40" ;
LOCATE COMP "LED[1]" SITE "41" ;
LOCATE COMP "LED[2]" SITE "42" ;
LOCATE COMP "LED[3]" SITE "43" ;
LOCATE COMP "ADC_PDNA" SITE "21" ;
LOCATE COMP "ADC_PDNB" SITE "24" ;
LOCATE COMP "ADC_RESET" SITE "25" ;
LOCATE COMP "ADC_SPI_CLK" SITE "20" ;
LOCATE COMP "ADC_SPI_CS" SITE "18" ;
LOCATE COMP "ADC_SPI_SDATA" SITE "19" ;
LOCATE COMP "CLKIN_SEL0" SITE "70" ;
LOCATE COMP "CLKIN_SEL1" SITE "69" ;
LOCATE COMP "CLKOUT_TYPE0" SITE "68" ;
LOCATE COMP "CLKOUT_TYPE1" SITE "61" ;
LOCATE COMP "CLK_PDN" SITE "31" ;
LOCATE COMP "CLK_REFSEL" SITE "30" ;
LOCATE COMP "CLK_SPI_CLK" SITE "48" ;
LOCATE COMP "CLK_SPI_LE" SITE "49" ;
LOCATE COMP "CLK_SPI_MOSI" SITE "47" ;
LOCATE COMP "CLK_SYNC" SITE "29" ;
LOCATE COMP "DAC_SPI_CLK" SITE "12" ;
LOCATE COMP "DAC_SPI_CS" SITE "16" ;
LOCATE COMP "DAC_TXEN" SITE "14" ;
LOCATE COMP "ENAB_3V3_LDO" SITE "75" ;
LOCATE COMP "MUX_OUT" SITE "88" ;
LOCATE COMP "SIO_CTSn" SITE "4" ;
LOCATE COMP "SIO_DCDn" SITE "1" ;
LOCATE COMP "SIO_DSRn" SITE "2" ;
LOCATE COMP "SIO_TX" SITE "8" ;
IOBUF PORT "CLK_FPGA" IO_TYPE=LVDS25 ;
IOBUF PORT "ENAB_DAC_LDO" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADC_PDNA" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "ADC_PDNB" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "ADC_RESET" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "ADC_SPI_CLK" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "ADC_SPI_CS" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "ADC_SPI_SDATA" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CLKIN_SEL0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CLKIN_SEL1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CLKOUT_TYPE0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CLKOUT_TYPE1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "MUX_OUT" IO_TYPE=LVDS25 PULLMODE=NONE ;
IOBUF PORT "CLK_PDN" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CLK_REFSEL" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CLK_SPI_CLK" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CLK_SPI_LE" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CLK_SPI_MOSI" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CLK_SYNC" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "DAC_SPI_CLK" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "DAC_SPI_CS" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "DAC_TXEN" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "ENAB_3V3_LDO" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "SIO_CTSn" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SIO_DCDn" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SIO_DSRn" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SIO_TX" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "MUX_IN" IO_TYPE=LVDS25 DIFFRESISTOR=100 ;
IOBUF PORT "FPGA_PGOOD" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PDN_IN1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PDN_IN2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DAC_SPI_SDIO" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "MUX_CLK" IO_TYPE=LVDS25 DIFFRESISTOR=100 ;
LOCATE COMP "MUX_CLK" SITE "34" ;
LOCATE COMP "FPGA_PGOOD" SITE "74" ;
LOCATE COMP "MUX_IN" SITE "38" ;
IOBUF PORT "CLK_SPI_MISO" IO_TYPE=LVCMOS33 ;
LOCATE COMP "CLK_SPI_MISO" SITE "45" ;
LOCATE COMP "PDN_IN1" SITE "27" ;
LOCATE COMP "PDN_IN2" SITE "28" ;
LOCATE COMP "DAC_SPI_SDIO" SITE "17" ;
LOCATE COMP "DAC_ALARM" SITE "13" ;
IOBUF PORT "DAC_ALARM" IO_TYPE=LVCMOS33 ;
LOCATE COMP "DAC_REFCLK" SITE "84" ;
IOBUF PORT "DAC_REFCLK" IO_TYPE=LVDS25 PULLMODE=NONE ;
